{% extends 'tkts/list_base.html' %}
{% block list_head %}
  <title>Sitios</title>
  {{map.header.render|safe}}
{% endblock list_head %}
{% block map %}
  {{map.html.render|safe}}
<script>
  let map;
  let userMarkers = [];
  L.Map.addInitHook(function () {
    map = this; 
  });
  {{map.script.render|safe}}
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      function(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        var latLng =  new L.LatLng(lat, lon);
        userMarkers.push(L.circleMarker(latLng, {radius: 2, color: 'blue', fillColor: 'blue', fillOpacity: 1}).addTo(map));
        userMarkers.push(L.circleMarker(latLng, {radius: 6, color: 'blue', fillColor: 'blue', fillOpacity: 0.1}).addTo(map));
      }
    )
    navigator.geolocation.watchPosition(
      function(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        var latLng =  new L.LatLng(lat, lon);
        userMarkers.forEach(marker => {
          marker.setLatLng(latLng);
        });
      }
    )
  }
</script>   
{% endblock map %}